.register {
    @include logIn-register();
    img {
        margin-bottom: 30px!important
    }
}


@media screen and (max-width: 405px) {
    .register {
        .card-logIn {
            margin-top: 70px;
            margin-bottom: 40px;
            max-width: 300px;
            .signin--message {
                font-size: 13px!important;
            }
        }
    }

}